{#
/**
 * @file
 * Template for Agweb Article Page Layout.
 *
#}
<div class="row articlepage-custom-layout">
  <div class="columns small-12">
    {{ content.article }}
  </div>
  <div class="columns small-12">
    {{ content.subscription }}
    {{ content.related }}
    {{ content.comments }}
  </div>
</div>
