$news_color: #c9283e;
$markets_color: #01406c;
$weather_color: #f0940a;
$crops_color: #328e65;
$business_color: #109af5;
$machinery_color: #540032;
$livestock_color: #ae3c07;
$technology_color: #333333;
$link_grey: #666666;
$border_lgrey: #e2e1e8;
$charcoal: #434343;
$link_blue: #0084ff;
$dark_grey: #49484f;
$light_sky: #eff6fc;
$border_layout: #979797;
$white: #ffffff;
$link_black: #434343;
$hover_green: #328e65;
$hover_grey: #f3f2f5;
$hover_fb: #39599f;
$hover_twitter: #55acee;
$hover_google: #de4b39;
$hover_insta: #e1306c;
$hover_youtube: #c61d23;
$select_color: #f9eac8;
$weather_grey: #f3f2f5;
$weather_grey_border: #e2e1e8;
$weather_odd: #f7f7f7;
$table_grey: #e7e7e7;
$weather_list_border: #585858;
$weather_text_color: #808080;
$market_future_color: #3958a4;
$future_table_row_color: #f3f2f5;
$search_grey: #999999;
$weather_tab: #b1aeae;
$weather_tab_active: #848484;
$pager_list_color: #e6e6e6;
$brands_list_border: #c7c7c7;
$header_weather_font_color: #7c7c7c;
$font_merriweather: 'Merriweather', serif;
$font_montserrat: 'Montserrat', sans-serif;

// Device width
$small: 39.9375em;
$small-up: 47.9375em;
$large: 64em;
$medium: 63.9375em;
$extra-large: 74.9375em;
