.farm-journal-about {
  margin-top: 20px;

  .about-us-cols {
    margin-bottom: 30px;
    
    h2 {
      font-family: $font_montserrat;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 15px;
    }
  }
}
