// Terms & Conditions Content style
.agweb-terms-condtions {
  h2, h3 {
    font-family: $font_montserrat;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
  }

  h3 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  ul, ol li {
    margin-bottom: 15px;
  }

  .italic-fonts {
    font-style: italic;
  }

  p {
    margin-bottom: 15px;
  }
}
