.trailblazer-award-wrapper {

  .trailblazer-award-cols {
    margin-bottom: 15px;
    
    .trailblazer-award-heading {
      font-family: $font_montserrat;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 15px;
    }
  }
}