<footer class="row footer-wrapper">
  <div id="footer-brands" class="small-12 columns show-for-large">
    <ul class="footer-brands-list">
      <li>
        <a href="/farmjournal/" target="_blank">Farm Journal</a>
      </li>
      <li>
        <a href="https://www.drovers.com/" target="_blank">Drovers Cattle Network</a>
      </li>
      <li>
        <a href="https://www.dairyherd.com/" target="_blank">Dairy Herd Management</a>
      </li>
      <li>
        <a href="https://www.thepacker.com/" target="_blank">The Packer</a>
      </li>
      <li>
        <a href="https://www.agprofessional.com/" target="_blank">Ag Professional</a>
      </li>
      <li>
        <a href="https://www.porkbusiness.com/" target="_blank">Farm Journal's Pork</a>
      </li>
      <li>
        <a href="https://www.bovinevetonline.com/" target="_blank">Bovine Vet Online</a>
      </li>
      <li>
        <a href="https://www.greenbook.net/" target="_blank">Greenbook</a>
      </li>
      <li>
        <a href="https://www.produceretailer.com/" target="_blank">Produce Retailer</a>
      </li>
      <li>
        <a href="https://www.farmjournalagtech.com/" target="_blank">Farm Journal AgTech</a>
      </li>
      <li>
        <a href="https://www.profarmer.com" target="_blank">Farm Journal Pro</a>
      </li>
      <li>
        <a href="/">AgWeb</a>
      </li>
      <li>
        <a href="http://www.farmjournallegacyproject.com/" target="_blank">Legacy Project</a>
      </li>
      <li>
        <a href="/top-producer/" target="_blank">Top Producer</a>
      </li>
      <li>
        <a href="https://www.milkbusiness.com/" target="_top">Farm Journal's Milk</a>
      </li>
      <li>
        <a href="http://www.cattle-exchange.com" target="_blank">Cattle-Exchange.com</a>
      </li>
      <li>
        <a href="/agday/" target="_blank">AgDay TV</a>
      </li>
      <li>
        <a href="/usfr/" target="_blank">US Farm Report</a>
      </li>
      <li>
        <a href="/agritalk/" target="_blank">AgriTalk</a>
      </li>
      <li>
        <a href="https://www.machinerypete.com/" target="_top">Machinery Pete</a>
      </li>
      <li>
        <a href="https://www.farmjournalmobile.com/" target="_blank">Farm Journal Mobile</a>
      </li>
      <li>
        <a href="https://www.farmersfeedingtheworld.com" target="_top">Farm Journal Foundation</a>
      </li>
      <li>
        <a href="https://www.trustinfood.com/" target="_top">Trust in Food</a>
      </li>
      <li>
        <a href="https://producemarketguide.com" target="_top">Produce Market Guide</a>
      </li>
    </ul>
  </div>
  {% if page.footer_first %}
    <div id="footer-first" class="large-4 medium-6 small-12 columns">
      {{ page.footer_first }}
    </div>
  {% endif %}
  {% if page.footer_middle %}
    <div id="footer-middle" class="large-3 medium-6 small-12 columns">
      {{ page.footer_middle }}
    </div>
  {% endif %}
  {% if page.footer_last %}
    <div id="footer-last" class="large-5 medium-6 small-12 columns">
      {{ page.footer_last }}
    </div>
  {% endif %}
  {% if page.footer_ads %}
    <div id="footer-ads">
      {{ page.footer_ads }}
    </div>
  {% endif %}
</footer>
